In [1]:
import pandas as pd
import numpy as np

In [2]:
stock_values_path = "agg.csv"
compustat_path = "./archive/compustat_quarterly.csv"
wrds_ratios_path = "./archive/wrds_quarterly_ratios.csv"

In [3]:
stock_values = pd.read_csv("agg.csv", parse_dates=["datadate"], index_col="index")
stock_values.head(2)

        datadate  prcod  prchd  prcld  prccd      cusip
index
0     2004-09-01   2.12   2.57   1.93   2.55  665575106
1     2004-10-01   2.55   2.95   2.50   2.69  665575106

In [4]:
compustat = pd.read_csv(compustat_path, parse_dates=["datadate"])
compustat

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,xoptepsp12,xoptepsq,xoptepsqp,xoptq,xoptqp,xrdq,xsgaq,costat,dvpspq,adjex
0,1004,2010-02-28,2009,3.0,5,INDL,C,D,STD,AIR,...,0.0,0.0,0.0,0.0,0.0,NaN,34.091,A,0.0,1.0
1,1004,2010-05-31,2009,4.0,5,INDL,C,D,STD,AIR,...,0.0,0.0,0.0,0.0,0.0,NaN,40.177,A,0.0,1.0
2,1004,2010-08-31,2010,1.0,5,INDL,C,D,STD,AIR,...,0.0,0.0,0.0,0.0,0.0,NaN,41.242,A,0.0,1.0
3,1004,2010-11-30,2010,2.0,5,INDL,C,D,STD,AIR,...,0.0,0.0,0.0,0.0,0.0,NaN,44.797,A,0.0,1.0
4,1004,2011-02-28,2010,3.0,5,INDL,C,D,STD,AIR,...,0.0,0.0,0.0,0.0,0.0,NaN,42.543,A,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497470,353945,2021-03-31,2021,1.0,12,INDL,C,D,STD,ACLLY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN
497471,353945,2021-06-30,2021,2.0,12,INDL,C,D,STD,ACLLY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN
497472,353945,2021-09-30,2021,3.0,12,INDL,C,D,STD,ACLLY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN
497473,353945,2021-12-31,2021,4.0,12,INDL,C,D,STD,ACLLY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,NaN,NaN
497474,354003,2023-03-31,2023,1.0,12,INDL,C,D,STD,BEMB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,A,0.0,1.0

In [5]:
wrds_ratios = pd.read_csv(wrds_ratios_path, parse_dates=["qdate"])
wrds_ratios

,gvkey,permno,adate,qdate,public_date,CAPEI,bm,evm,pe_op_basic,pe_op_dil,...,sale_nwc,rd_sale,adv_sale,staff_sale,accrual,ptb,PEG_trailing,divyield,TICKER,cusip
0,1004,54594,2009-05-31,2009-11-30,2010-01-31,17.934,1.077,7.981,14.758,15.243,...,2.257,0.0,0.0,0.0,-0.043,1.152,2.250,NaN,AIR,00036110
1,1004,54594,2009-05-31,2009-11-30,2010-02-28,17.554,1.077,7.981,14.446,14.921,...,2.257,0.0,0.0,0.0,-0.043,1.128,2.203,NaN,AIR,00036110
2,1004,54594,2009-05-31,2009-11-30,2010-03-31,19.257,1.077,7.981,15.809,16.329,...,2.257,0.0,0.0,0.0,-0.043,1.237,2.410,NaN,AIR,00036110
3,1004,54594,2009-05-31,2010-02-28,2010-04-30,18.304,0.898,9.293,16.146,16.473,...,2.176,0.0,0.0,0.0,-0.087,1.197,31.895,NaN,AIR,00036110
4,1004,54594,2009-05-31,2010-02-28,2010-05-31,14.791,0.898,9.293,13.046,13.311,...,2.176,0.0,0.0,0.0,-0.087,0.968,25.772,NaN,AIR,00036110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572936,349972,15642,2021-12-31,2022-06-30,2022-08-31,NaN,1.411,-2.991,-1.217,-1.217,...,NaN,0.0,NaN,NaN,-0.000,0.684,NaN,NaN,INDP,45339J10
572937,349972,15642,2021-12-31,2022-06-30,2022-09-30,NaN,1.411,-2.991,-1.043,-1.043,...,NaN,0.0,NaN,NaN,-0.000,0.587,NaN,NaN,INDP,45339J10
572938,349972,15642,2021-12-31,2022-06-30,2022-10-31,NaN,1.411,-2.991,-0.884,-0.884,...,NaN,0.0,NaN,NaN,-0.000,0.497,NaN,NaN,INDP,45339J10
572939,349972,15642,2021-12-31,2022-09-30,2022-11-30,NaN,1.545,-2.138,-1.084,-1.084,...,NaN,0.0,NaN,NaN,0.014,0.546,NaN,NaN,INDP,45339J10
572940,349972,15642,2021-12-31,2022-09-30,2022-12-31,NaN,1.545,-2.138,NaN,NaN,...,NaN,0.0,NaN,NaN,0.014,0.434,NaN,NaN,INDP,45339J10

In [6]:
#standardized bins for quarters
start_time = pd.Timestamp('2009-01-01 00:00:00')
stop_time = pd.Timestamp('2023-01-01 00:00:00')
interval = pd.Interval(start_time, start_time, closed='left')
bin_edges = [start_time]
while bin_edges[-1] < stop_time:
    bin_edges.append(bin_edges[-1] + pd.DateOffset(months=3))

def quarterIndex(timestamp):
    i = 0
    if(timestamp < bin_edges[0] or timestamp >= bin_edges[-1]):
        return -1
    while not (timestamp >= bin_edges[i] and timestamp < bin_edges[i+1]):
        i += 1
    return i

In [7]:
test = pd.Timestamp("2018-04-02 00:00:00")
print(quarterIndex(test))

37

In [8]:
wrds_ratios["ppln_quarter"] = wrds_ratios["qdate"].apply(lambda quarter:quarterIndex(quarter))
wrds_ratios[["ppln_quarter", "qdate"]].head(2)

   ppln_quarter      qdate
0             3 2009-11-30
1             3 2009-11-30

In [9]:
stock_values["ppln_quarter"] = stock_values["datadate"].apply(lambda quarter:quarterIndex(quarter))
stock_values[["ppln_quarter", "datadate"]].head(2)

       ppln_quarter   datadate
index
0                -1 2004-09-01
1                -1 2004-10-01

In [10]:
compustat["ppln_quarter"] = compustat["datadate"].apply(lambda quarter:quarterIndex(quarter))
compustat[["ppln_quarter", "datadate"]].tail(2)

        ppln_quarter   datadate
497473            51 2021-12-31
497474            -1 2023-03-31

In [11]:
#reduce to only relevant quarters
wrds_ratios = wrds_ratios[wrds_ratios["ppln_quarter"] != -1]
compustat = compustat[compustat["ppln_quarter"] != -1]
stock_values = stock_values[stock_values["ppln_quarter"] != -1]

#drop where there is no cusip
wrds_ratios = wrds_ratios.dropna(subset=["cusip"])
compustat = compustat.dropna(subset=["cusip"])
stock_values = stock_values.dropna(subset=["cusip"])

### Adjust cusips to be 8 digits

In [12]:
stock_values["ppln_cusip"] = stock_values["cusip"].apply(lambda x:x[:-1])
stock_values.head(1)

,datadate,prcod,prchd,prcld,prccd,cusip,ppln_quarter,ppln_cusip
index,,,,,,,,
92,2009-01-01,0.58,1.06,0.55,0.87,85513Q103,0,85513Q10

In [13]:
#handle cusip as string
compustat["ppln_cusip"] = compustat["cusip"].apply(lambda x:str(x)[:-1])
compustat.head(1)

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,xoptepsqp,xoptq,xoptqp,xrdq,xsgaq,costat,dvpspq,adjex,ppln_quarter,ppln_cusip
0,1004,2010-02-28,2009,3.0,5,INDL,C,D,STD,AIR,...,0.0,0.0,0.0,NaN,34.091,A,0.0,1.0,4,00036110

In [14]:
wrds_ratios.head(1)

,gvkey,permno,adate,qdate,public_date,CAPEI,bm,evm,pe_op_basic,pe_op_dil,...,rd_sale,adv_sale,staff_sale,accrual,ptb,PEG_trailing,divyield,TICKER,cusip,ppln_quarter
0,1004,54594,2009-05-31,2009-11-30,2010-01-31,17.934,1.077,7.981,14.758,15.243,...,0.0,0.0,0.0,-0.043,1.152,2.25,NaN,AIR,00036110,3

## Reduce to one row per Cusip per Quarter

The target is to have one single row per quarter with features. However some quarters and cusips have multiple entries. This is solved by keeping the earliest entry per quarter.

In [15]:
wrds_ratios["ppln_public_date"] = wrds_ratios["public_date"].apply(lambda x:pd.Timestamp(x))
wrds_ratios.sort_values(by="ppln_public_date", ascending=False).head(1)

,gvkey,permno,adate,qdate,public_date,CAPEI,bm,evm,pe_op_basic,pe_op_dil,...,adv_sale,staff_sale,accrual,ptb,PEG_trailing,divyield,TICKER,cusip,ppln_quarter,ppln_public_date
572940,349972,15642,2021-12-31,2022-09-30,2022-12-31,NaN,1.545,-2.138,NaN,NaN,...,NaN,NaN,0.014,0.434,NaN,NaN,INDP,45339J10,54,2022-12-31

In [16]:
#longer runtime
#trim down to only one quarter entry per cusip
clean_ratios = []
cusip_groups = wrds_ratios.groupby(by="cusip")
for cusip, group in cusip_groups:
    quarter_groups = group.groupby(by="ppln_quarter")
    for quarter, q_group in quarter_groups:
        oldest_entry = q_group.sort_values(by="ppln_public_date", ascending=False).iloc[0]
        clean_ratios.append(oldest_entry)

clean_ratios_df = pd.DataFrame(columns=wrds_ratios.columns, data=clean_ratios)
clean_ratios_df.head(1)

,gvkey,permno,adate,qdate,public_date,CAPEI,bm,evm,pe_op_basic,pe_op_dil,...,adv_sale,staff_sale,accrual,ptb,PEG_trailing,divyield,TICKER,cusip,ppln_quarter,ppln_public_date
520968,178698,14945,2014-12-31,2014-12-31,2015-04-30,NaN,0.15,39.025,78.773,78.773,...,0.118,0.411,-0.004,7.629,NaN,NaN,AAC,00030710,23,2015-04-30

In [17]:
#check for duplicate entries in compustat
com_groups = compustat.groupby(by=["ppln_cusip", "ppln_quarter"])
i = 0
j = 0
for name, group in com_groups:
    j += 1
    if len(group.index) != 1:
        i += 1
print(i)
print(j)

442
491549

In [18]:
#longer runtime
#trim down to only one quarter entry per cusip
clean_compustat = []
cusip_groups = compustat.groupby(by="ppln_cusip")
for cusip, group in cusip_groups:
    quarter_groups = group.groupby(by="ppln_quarter")
    for quarter, q_group in quarter_groups:
        entry = q_group.iloc[0]
        clean_compustat.append(entry)
clean_compustat_df = pd.DataFrame(columns=compustat.columns, data=clean_compustat)
clean_compustat_df

,gvkey,datadate,fyearq,fqtr,fyr,indfmt,consol,popsrc,datafmt,tic,...,xoptepsqp,xoptq,xoptqp,xrdq,xsgaq,costat,dvpspq,adjex,ppln_quarter,ppln_cusip
418526,178698,2012-03-31,2012,1.0,12,INDL,C,D,STD,AACH,...,NaN,0.0,NaN,0.000,NaN,I,0.0,0.01,12,00030710
418527,178698,2012-06-30,2012,2.0,12,INDL,C,D,STD,AACH,...,NaN,0.0,NaN,0.000,NaN,I,0.0,0.01,13,00030710
418528,178698,2012-09-30,2012,3.0,12,INDL,C,D,STD,AACH,...,NaN,0.0,NaN,0.000,NaN,I,0.0,0.01,14,00030710
418529,178698,2012-12-31,2012,4.0,12,INDL,C,D,STD,AACH,...,NaN,0.0,NaN,0.000,NaN,I,0.0,0.01,15,00030710
418530,178698,2013-03-31,2013,1.0,12,INDL,C,D,STD,AACH,...,NaN,0.0,NaN,0.000,NaN,I,0.0,1.00,16,00030710
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166009,26340,2021-12-31,2021,4.0,12,INDL,C,D,STD,WVE,...,NaN,NaN,NaN,25.761,NaN,A,0.0,1.00,51,Y9530810
166010,26340,2022-03-31,2022,1.0,12,INDL,C,D,STD,WVE,...,NaN,NaN,NaN,27.470,NaN,A,0.0,1.00,52,Y9530810
166011,26340,2022-06-30,2022,2.0,12,INDL,C,D,STD,WVE,...,NaN,NaN,NaN,29.733,NaN,A,0.0,1.00,53,Y9530810
166012,26340,2022-09-30,2022,3.0,12,INDL,C,D,STD,WVE,...,NaN,NaN,NaN,27.575,NaN,A,0.0,1.00,54,Y9530810
166013,26340,2022-12-31,2022,4.0,12,INDL,C,D,STD,WVE,...,NaN,NaN,NaN,31.078,NaN,A,0.0,1.00,55,Y9530810

In [19]:
value_groups = stock_values.groupby(by=["ppln_cusip", "ppln_quarter"])
i = 0
j = 0
for name, group in value_groups:
    j += 1
    if len(group.index) != 1:
        i += 1
print(i)
print(j)

261338
265653

In [33]:
#longer runtime
#trim down to only one quarter entry per cusip
clean_values = []
cusip_groups = stock_values.groupby(by="ppln_cusip")
for cusip, group in cusip_groups:
    quarter_groups = group.groupby(by="ppln_quarter")
    for quarter, q_group in quarter_groups:
        oldest_entry = q_group.sort_values(by="datadate", ascending=False).iloc[0]
        clean_values.append(oldest_entry)
clean_values_df = pd.DataFrame(columns=stock_values.columns, data=clean_values)
clean_values_df

,datadate,prcod,prchd,prcld,prccd,cusip,ppln_quarter,ppln_cusip
834292,2021-09-01,26.00,32.9900,26.00,29.37,00032Q104,50,00032Q10
834295,2021-12-01,21.28,26.6000,18.75,24.15,00032Q104,51,00032Q10
834298,2022-03-01,17.30,20.0900,16.50,16.97,00032Q104,52,00032Q10
834301,2022-06-01,16.17,17.2700,11.72,12.32,00032Q104,53,00032Q10
834304,2022-09-01,13.52,14.3400,11.66,14.13,00032Q104,54,00032Q10
...,...,...,...,...,...,...,...,...
523591,2021-12-01,3.98,4.0200,3.07,3.14,Y95308105,51,Y9530810
523594,2022-03-01,2.44,2.5950,1.92,2.00,Y95308105,52,Y9530810
523597,2022-06-01,1.38,3.5718,1.25,3.25,Y95308105,53,Y9530810
523600,2022-09-01,2.91,4.1300,2.56,3.61,Y95308105,54,Y9530810
523603,2022-12-01,4.20,7.0900,3.53,7.00,Y95308105,55,Y9530810

## Now they can be joined

In [21]:
print("Unique entries in...")
print("...WRDS Ratios:")
print(len(clean_ratios_df))
print("...Compustat Data:")
print(len(clean_compustat_df))
print("...Stock values:")
print(len(clean_values_df))

Unique entries in...
...WRDS Ratios:
195019
...Compustat Data:
491549
...Stock values:
265653

In [22]:
wrds_and_compustat = clean_ratios_df.merge(
    right=clean_compustat_df,
    right_on=["ppln_cusip", "ppln_quarter"],
    left_on=["cusip", "ppln_quarter"],
    how="inner",
    suffixes=("_wrds","_compustat")
)
wrds_and_compustat.head(1)

,gvkey_wrds,permno,adate,qdate,public_date,CAPEI,bm,evm,pe_op_basic,pe_op_dil,...,xoptepsq,xoptepsqp,xoptq,xoptqp,xrdq,xsgaq,costat,dvpspq,adjex,ppln_cusip
0,178698,14945,2014-12-31,2014-12-31,2015-04-30,NaN,0.15,39.025,78.773,78.773,...,0.0,NaN,0.0,NaN,0.0,NaN,I,0.0,1.0,00030710

## Configure the shift in quarters for the stock value prediction

In [59]:
shift = 1
clean_values_df.describe()

,datadate,prcod,prchd,prcld,prccd,ppln_quarter,ppln_shift_quarter
count,265653,265653.000000,265653.000000,265653.000000,265653.000000,265653.000000,265653.000000
mean,2016-09-15 17:33:54.718975488,50.308058,55.266786,44.929815,48.837766,30.178440,29.178440
min,2009-01-01 00:00:00,0.000000,0.000100,0.000000,0.000000,0.000000,-1.000000
25%,2013-03-01 00:00:00,9.433333,10.200000,8.350000,9.320000,16.000000,15.000000
50%,2016-12-01 00:00:00,21.410000,22.800000,19.710000,21.170000,31.000000,30.000000
75%,2020-06-01 00:00:00,34.000000,36.250000,31.510000,33.802000,45.000000,44.000000
max,2022-12-01 00:00:00,208100.000000,208500.000000,184200.000000,192500.000000,55.000000,54.000000
std,NaN,1296.719609,1414.565328,1155.825246,1246.870126,16.368694,16.368694

Because stock price values cannot be compared really, we also add some relative stock price measures.

In [60]:
prediction_prices = clean_values_df
prediction_prices["ppln_shift_quarter"] = prediction_prices["ppln_quarter"].apply(lambda x: x - shift)
prediction_prices = prediction_prices.sort_values(by=["ppln_cusip", "ppln_quarter"])
prediction_prices = prediction_prices.reset_index()

price_shift = []
rel_price_shift = []
for index, row in prediction_prices.iterrows():
    if index >= shift and prediction_prices["ppln_cusip"].iloc[index - shift] == row["ppln_cusip"]:
        #explain all of these variable choices
        pre_prcod = prediction_prices["prcod"].iloc[index - shift]
        price_shift.append(row["prcod"] - pre_prcod)
        rel_price_shift.append((row["prcod"] - pre_prcod)/pre_prcod) #why pre and not row["prcod"]
    else:
        price_shift.append( None )
        rel_price_shift.append( None )
prediction_prices["ppln_price_gain_over_shift"] = price_shift
prediction_prices["ppln_rel_price_gain_over_shift"] = rel_price_shift
prediction_prices.head(40)

/var/folders/8y/krd6prkx72780trn94p2wzlw0000gn/T/ipykernel_87739/3231018838.py:13: RuntimeWarning: divide by zero encountered in scalar divide
  rel_price_shift.append((row["prcod"] - pre_prcod)/pre_prcod) #why pre and not row["prcod"]

,index,datadate,prcod,prchd,prcld,prccd,cusip,ppln_quarter,ppln_cusip,ppln_shift_quarter,ppln_price_gain_over_shift,ppln_rel_price_gain_over_shift
0,834292,2021-09-01,26.0000,32.9900,26.0000,29.3700,00032Q104,50,00032Q10,47,NaN,NaN
1,834295,2021-12-01,21.2800,26.6000,18.7500,24.1500,00032Q104,51,00032Q10,48,NaN,NaN
2,834298,2022-03-01,17.3000,20.0900,16.5000,16.9700,00032Q104,52,00032Q10,49,NaN,NaN
3,834301,2022-06-01,16.1700,17.2700,11.7200,12.3200,00032Q104,53,00032Q10,50,-9.8300,-0.378077
4,834304,2022-09-01,13.5200,14.3400,11.6600,14.1300,00032Q104,54,00032Q10,51,-7.7600,-0.364662
5,834307,2022-12-01,13.4000,13.6000,11.8000,12.8300,00032Q104,55,00032Q10,52,-3.9000,-0.225434
6,237625,2009-03-01,13.5500,14.4899,10.0500,13.8100,000336206,0,00033620,-3,NaN,NaN
7,237628,2009-06-01,17.0300,18.7900,16.9000,18.5000,000336206,1,00033620,-2,NaN,NaN
8,237631,2009-09-01,20.7900,22.8000,20.1500,22.4000,000336206,2,00033620,-1,NaN,NaN
9,237634,2009-12-01,21.6500,22.5000,21.6500,22.5000,000336206,3,00033620,0,8.1000,0.597786
10,237637,2010-03-01,23.3600,24.4000,23.3300,24.3200,000336206,4,00033620,1,6.3300,0.371697
11,237640,2010-06-01,23.3300,24.4000,23.2900,23.8399,000336206,5,00033620,2,2.5400,0.122174
12,237643,2010-09-01,25.2100,25.4800,24.9100,25.2000,000336206,6,00033620,3,3.5600,0.164434
13,237646,2010-12-01,25.1900,25.2900,24.6500,25.0600,000336206,7,00033620,4,1.8300,0.078339
14,237649,2011-03-01,25.2800,25.3900,24.8600,25.0000,000336206,8,00033620,5,1.9500,0.083583
15,237652,2011-06-01,25.4100,25.5000,25.0000,25.2500,000336206,9,00033620,6,0.2000,0.007933
16,237655,2011-09-01,25.2400,25.6000,24.9100,25.1392,000336206,10,00033620,7,0.0500,0.001985
17,237658,2011-12-01,25.2900,25.4400,24.9800,25.2989,000336206,11,00033620,8,0.0100,0.000396
18,237661,2012-03-01,25.5500,25.8100,25.2800,25.4980,000336206,12,00033620,9,0.1400,0.005510
19,237664,2012-06-01,25.4900,26.5000,24.8900,25.0100,000336206,13,00033620,10,0.2500,0.009905
20,237665,2012-07-01,25.0000,25.0600,25.0000,25.0400,000336206,14,00033620,11,-0.2900,-0.011467
21,492803,2009-03-01,12.5600,14.0000,8.5800,13.5400,000336305,0,00033630,-3,NaN,NaN
22,492806,2009-06-01,16.9500,18.2500,16.8600,17.4300,000336305,1,00033630,-2,NaN,NaN
23,492809,2009-09-01,19.7500,22.7200,19.4300,22.0956,000336305,2,00033630,-1,NaN,NaN
24,492812,2009-12-01,20.9800,22.3801,20.9500,22.3700,000336305,3,00033630,0,8.4200,0.670382
25,492815,2010-03-01,22.6900,24.7500,22.5300,24.3500,000336305,4,00033630,1,5.7400,0.338643
26,492818,2010-06-01,23.4500,23.6000,22.5000,23.5100,000336305,5,00033630,2,3.7000,0.187342
27,492821,2010-09-01,24.7000,25.3800,24.5500,25.1900,000336305,6,00033630,3,3.7200,0.177312
28,492824,2010-12-01,24.9900,25.1800,24.7600,25.0400,000336305,7,00033630,4,2.3000,0.101366
29,492827,2011-03-01,25.0700,25.3300,24.9800,25.3200,000336305,8,00033630,5,1.6200,0.069083
30,492830,2011-06-01,25.2100,25.4200,25.1200,25.3500,000336305,9,00033630,6,0.5100,0.020648
31,492833,2011-09-01,25.1200,25.3500,24.9100,25.0800,000336305,10,00033630,7,0.1300,0.005202
32,492836,2011-12-01,25.3114,25.7300,25.0900,25.4000,000336305,11,00033630,8,0.2414,0.009629
33,492839,2012-03-01,25.3800,25.6700,25.2000,25.5700,000336305,12,00033630,9,0.1700,0.006743
34,492842,2012-06-01,25.1600,25.5000,25.1500,25.3200,000336305,13,00033630,10,0.0400,0.001592
35,492843,2012-07-01,25.3500,25.4000,24.9600,25.0100,000336305,14,00033630,11,0.0386,0.001525
36,56948,2020-12-01,19.1000,23.4800,18.4642,21.5500,000380204,47,00038020,44,NaN,NaN
37,56951,2021-03-01,23.0500,23.3300,19.1000,19.2200,000380204,48,00038020,45,NaN,NaN
38,56954,2021-06-01,19.7300,22.6000,18.2900,19.0400,000380204,49,00038020,46,NaN,NaN
39,56957,2021-09-01,21.2200,21.6500,19.6800,20.2700,000380204,50,00038020,47,2.1200,0.110995